.main-text {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(to right, #f8f8f8, #ffffff, #f8f8f8);
  margin-bottom: 2rem;
}

.title-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.title-wrapper h1 {
  font-size: 3.2rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.title-wrapper h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 1rem auto;
  border-radius: 2px;
}

.main-text p {
  font-size: 1.7rem;
  color: #666;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  /* header */
  .head_page {
    gap: 10em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  ul {
    margin-right: 1em;
    flex-direction: row;
    gap: 1.5em;
  }

  .nav_list a {
    padding: 0.5em 0.5em;
    color: var(--primary-color);
    width: fit-content;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
      box-shadow 200ms ease-in-out, border-radius 200ms ease-in-out;
  }

  .nav_list a:hover {
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(97, 38, 116, 0.3);
    background-color: var(--primary-hover);
  }

  .head_page {
    background-color: white;
  }

  .nav_list li {
    text-align: center;
    width: 100%;
  }

  .hospedagemFotos {
    max-width: 100%;
    flex-direction: column;
  }

  .picutreWrapper {
    flex-direction: row;
  }

  .headerHospedagem {
    padding: 2.5rem 4rem;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 900px) {
  .hospedagemFotos {
    width: 60%;
  }

  .formsHospedagem {
    width: 40%;
    height: 20%;
  }
  .mainHospedagem {
    align-items: center;
    flex-direction: row;
  }
}
