@media screen and (min-width: 780px) {
  /* header */
  .head_page {
    gap: 10em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  ul {
    margin-right: 1em;
    flex-direction: row;
    gap: 1.5em;
  }

  .nav_list a {
    padding: 0.5em 0.5em;
    color: var(--primary-color);
    width: fit-content;
  }

  .nav_list a:hover {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: rgba(200, 200, 200, 0.2);
  }

  .head_page {
    background-color: white;
  }

  .nav_list li {
    text-align: center;
    width: 100%;
  }

  .hospedagemFotos {
    max-width: 100%;
    flex-direction: row-reverse;
  }

  .picutreWrapper {
    flex-direction: column;
  }

  .headerHospedagem {
    padding: 2.5rem 4rem;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 900px) {
  .hospedagemFotos {
    width: 90%;
  }

  .formsHospedagem {
    width: 40%;
    height: 20%;
  }
  .mainHospedagem {
    align-items: center;
    flex-direction: row;
  }
}
