@media screen and (min-width: 780px) {
  /* Cabeçalho */
  .head_page {
    gap: 10em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  /* Lista de navegação */
  ul {
    margin-right: 1em;
    flex-direction: row;
    gap: 1.5em;
  }

  .nav_list a {
    padding: 0.5em 0.5em;
    color: var(--primary-color);
    width: fit-content;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
      box-shadow 200ms ease-in-out, border-radius 200ms ease-in-out;
  }

  .nav_list a:hover {
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(97, 38, 116, 0.3);
    background-color: var(--primary-hover);
  }

  .head_page {
    background-color: white;
  }

  .nav_list li {
    text-align: center;
    width: 100%;
  }
}

/* Estilo para a seção de categorias */
.categories {
  margin-top: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 15px; 
  padding: 10px 20px;
  background-color: #ffffff;
}

.categories a {
  margin: auto;
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
}

.categories a:hover {
  font-size: 1.4rem;
  transition: 0.5s;
  font-weight: bold;
  color: #000000;
}

#img-casa{
  width: 2em; /* Ajusta a largura */
  margin-left: 30px;
}

/* Estilo para os cards de hotéis */
.hotel {
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.hotel:hover{
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.hotel img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.hotel h3 {
  padding: 10px;
  font-size: 1.4em;
}

.hotel p {
  padding: 0 10px;
  font-size: 1em;
}

.hotel span {
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #ffa000;
}

main {
  display: flex;
  height: 100vh; 
  width: 100%; 
  gap: 20px;
  justify-content: space-between; 
}

/* Estilo para a lista de hotéis */
.hotel-lista {
  flex: 2; 
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  overflow-y: auto; 
}

.map-container {
  flex: 1; 
  width: 100%; 
  height: 100vh; 
  min-width: 46%; 
  
}

iframe {
  float: left;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 780px) {
  .categories{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .categories a{
    font-size: 1.5em;
  }

  .categories input[type="search"] {
    display: none;
  }

  #img-casa{
    display: none;
  }

  .map-container{
    display: none;
  }
  
  .hotel-lista{
    justify-content: center;
  }
  
}
@media screen and (min-width: 1200px) {
  main{
    padding: 30px;
  }
}
